html, body
{
    border: 0;
    margin: 0;
    padding: 5px;
    font-family: Tahoma;
    font-size: 9pt;
}

#DEBUG
{
    height: 60px;
    width: 350px;
}

#SVG_DND_HOLDER_1
{
    background-color: #eee;
    border: 1px solid #bbb;

    width: 1200px;
    height: 480px;

    margin: 0px;
    padding: 0px;
}
